*
{

    margin: 0px; /* property-name: property-value */
    padding: 0px;

}


header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #003b2e;
    padding: 10px 30px;
}

.logo img{
    width: 50px;
}

header h1{

    text-align: center;
    color: #387478;
    flex: 1;
    font: 50px "Times New Roman";
    font-weight: 800;

}


.nav-bar{

    display: flex;
    gap: 40px;
    list-style-type: none;

}

.socials{
    padding-left: 30px;
    display: flex;
    gap: 30px;
    align-items: center;
}

.socials img{
    width: 30px;
    height: 30px;
}

.nav-bar a{

    color:#bc5d58;

}

a:link{
    text-decoration:none;
}

a:visited{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.content{
    width: 100%;
    padding-left: 30px;
    padding-right: 57px;
    background-color: moccasin;
    /*background-image: url(images/icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;*/
}

.home-image{
    border-style: dotted;
    border-width: 2px;
    border-radius: 15px;
    border-color:black;
}

.content p{
    color:aqua;
}

.abtMeText{
    color:#bc5d58;
    text-decoration: underline;
}


.list-aboutme{
    list-style-type: lower-roman;
}

footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    color: #387478;
    background-color: #1b2324;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
}

.project-table{

    margin-top: 10px
    border-collapse;
    margine: auto;
}
.project-table td, .project-table th{
    border: 1px solid black;
    padding: 3px;
    text-align: center;
}